<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:description) %></th>
      <th><%= Comment.human_attribute_name(:user) %></th>
      <th><%= Comment.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% comments.includes(:user).each do |comment| %>
      <tr>
        <td><%= comment.description %></td>
        <td><%= comment.user.name.empty? ? comment.user.email : comment.user.name %></td>
        <td><%= l(comment.created_at.to_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
