<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:description) %></th>
      <th><%= Comment.human_attribute_name(:user) %></th>
      <th><%= Comment.human_attribute_name(:created_datetime) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% comments.includes(:user).each do |comment| %>
      <tr>
        <td><%= comment.description %></td>
        <td><%= comment.display_user_name %></td>
        <td><%= l(comment.created_at, format: :long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
